.white {
    background:#fff;
    color: black;
}
.dark {
    background:#000;
    color: white;
}


h1 {
    font-size: 90px;
    text-align: center;
    color: red;
}
p { text-align: center;
    margin-left: auto;
    margin-right: auto;
    min-width: 480px;
    max-width: 1280px;
    display: block;

}
.videoyt {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    margin-bottom: 25px;
}
.videoyt iframe {position: absolute;
    top: 0;
    left: 5%;
    width: 90%;
    height: 100%;
}

.left {
    float:left;
    width: 40%;
    background-color: #1b2780;
    height:200px;
}
.right {
    float:left;
    width: 60%;
    background-color: #44ff1d;;
    height: 200px;
}
@media only screen and (max-width:960px) {

    .left, .right {
        width:100%;
    }
}

td { border: 1px solid green; }

.background {
    background-attachment: fixed;
    background-position: 50% 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 54vh;
    max-height: 1200px;
    min-height: 200px;
}
.background-1 {
    background-image: url(https://wallpaperaccess.com/full/414982.jpg);
}

.background-2 {
    background-image: url(https://wallpaperaccess.com/full/777838.jpg);
}

.background-3 {
    background-image: url(https://i.pinimg.com/originals/91/c7/c0/91c7c000cf6c08eb47a6d02d2d4ed15b.jpg);
}
h2 {
    text-align: center;
    font-size: 75px;
    color: #36faff;
    padding: 10rem 0;
}
.center {
    display: block;
    margin: auto;
}
.dropdown {
    position: relative;
    display: block;
    width: 288px;
}

.dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}
footer{
    background: gray;
    height: 150px;
}
.icon-bar {
    position: fixed;
    top: 50%;
    z-index: 2;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.icon-bar a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px;
}

.icon-bar a:hover {
    background-color: #000;
}
.youtube {
    background: #bb0000;
    color: white;
}
.button {
    text-align: center;
}

